body {
  font-family: 'Ubuntu', sans-serif; }

.navbar {
  background-color: #000000;
  z-index: 999; }
  .navbar .navbar-brand {
    margin: 1em 3em 1em 1em; }
  .navbar .nav-link1 {
    font-size: 1em;
    color: #8be5d0;
    text-decoration: none;
    margin-right: 1em;
    font-weight: 400;
    letter-spacing: 3px; }
  .navbar .index_btn {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center; }

footer {
  width: 100%;
  background-color: #C3E879;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

footer .social_icons, footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap; }

footer .social_icons li, footer .menu li {
  list-style: none; }

footer .social_icons li a {
  font-size: 2em;
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s; }

footer .social_icons li a:hover {
  transform: translateY(-10px); }

footer .menu li a {
  font-size: 1.2em;
  color: #000000;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.60; }

footer .menu li a:hover {
  opacity: 1; }

footer p {
  color: var(--black);
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: transparent; }

body {
  background-color: #F8FCED; }

.carousel {
  margin: 3vh;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000000; }
  .carousel .carousel-item img {
    border-radius: 10px; }

.main-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d7fc8d;
  padding: 5vh 0 5vh 0;
  margin: 4vh 2.5vh 4vh 2.5vh;
  border-radius: 30px;
  box-shadow: 1px 1px 5px #000000; }
  .main-div-1 .index-tittle {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #9570E8;
    letter-spacing: 4px;
    /*text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;*/ }
  .main-div-1 .benefit-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-div-1 .benefit-container .benefit-img {
      height: 150px;
      width: auto; }
    .main-div-1 .benefit-container h4 {
      text-align: center;
      color: #9570E8;
      font-weight: bold;
      letter-spacing: 2px; }

.index-pg-container1, .index-pg-container2 {
  display: flex;
  align-items: flex-start;
  margin: 4vh; }
  .index-pg-container1 .index-pg-img1, .index-pg-container2 .index-pg-img1 {
    width: 300px;
    border-radius: 30px;
    float: left;
    margin: 2em; }
  .index-pg-container1 .index-pg-img2, .index-pg-container2 .index-pg-img2 {
    width: 300px;
    border-radius: 30px;
    float: right;
    margin: 2em; }
  .index-pg-container1 .index-pg-img, .index-pg-container2 .index-pg-img {
    box-shadow: 2px 2px 2px #404043; }

.main__title {
  text-align: center; }

.discover-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
  border: solid 1px black; }

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border: solid 1px black; }

.product-card {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-wrap: wrap;
  border: solid 1px black; }
  .product-card img {
    width: 300px; }
  .product-card figure img {
    width: 30px; }
