:root {
    --skyblue_light:#77D1BC;
    --gray:#404043;
    --black:#000000;
    --light-green:#C3E879;
    --soft-orange:#DEB673;
    --pink:#DE73AB;
    --supersoftblue:#d3fbfa;
    --sm:1rem;
    --md:2rem;
    --lg:4rem;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.nav-bg{
    background-color: var(--black);
}
nav div ul li a{
    color: var(--skyblue_light);
}