:root {
    --skyblue_light:#77D1BC;
    --gray:#404043;
    --black:#000000;
    --light-green:#C3E879;
    --soft-orange:#DEB673;
    --pink:#DE73AB;
    --supersoftblue:#d3fbfa;
    --sm:1rem;
    --md:2rem;
    --lg:4rem;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;800&family=Outfit:wght@300;400;600&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(60deg, var(--black), var(--gray));
}
.navbar {
    background-color: var(--black);
}

.main-div-1{
    background-color: var(--light-green);
    text-align: center;
}
.index_paragraph {
    color: var(--supersoftblue);
}
.index_dropdown{
    background-color: transparent;
    border: none;
}
.index_btn{
    display: inline-block;
    padding: 5px 0px;
    background-color: var(--light-green);
    color: var(--black);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
/*CSS footer for the Index page start*/
footer{
    width: 100%;
    background-color: var(--light-green);
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icons, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icons li, footer .menu li{
    list-style: none;
}
footer .social_icons li a{
    font-size: 2em;
    color: var(--black);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icons li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color:var(--black);
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.60;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: var(--black);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: transparent;
}
/*CSS footer for the Index page end*/