$skyblue_light:#77D1BC;
$analogous:#02030D;
$container-color:#C63B3E;
$gray:#404043;
$black:#000000;
$light-green:#C3E879;
$soft-orange:#DEB673;
$pink:#DE73AB;
$supersoftblue:#d3fbfa;
$light-green-complementary:#9570E8;
$background1: #F8FCED;


$primary:#77D1BC;
$primary-light:#EEF9F7;
$primary-shadow:#1E342F;
$complementary:#D1778C;
$complementary-shadow:#341E23;
$complementary-light:#F4DDE2;

