$skyblue_light:#77D1BC;
$analogous:#02030D;
$container-color:#C63B3E;
$gray:#404043;
$black:#000000;
$light-green:#C3E879;
$soft-orange:#DEB673;
$pink:#DE73AB;
$supersoftblue:#d3fbfa;

body {
    background: $black;
}
.discover-body{
    background: white;
}

.navbar{
    background-color: $black;
}
.index_dropdown{
    background-color: $black;
}
.index_btn {
    background-color: $light-green;
    color: $black;
    &:hover{
            background-color: $skyblue_light;
    }
}
.main-div-1{
    background: $skyblue_light;
    h1{
        color: $black;
    }
    section{
        h4{
            color: $black;
        }
    }
}
.index_paragraph{
    color: $supersoftblue;
}

footer {
    background-color: $light-green;
    ul{
        li{
            a{
                color: $black;
            }
        }
    }
}

.main__title{
    color: $soft-orange;
    text-decoration: underline white;
}

.product-card{
    background: linear-gradient($supersoftblue, 97%, $gray);
    .product-info{
        div h3{
            color: $black;


        }
        div .labels li{
            color: $container-color;
        }
        figure span{
            color: green;
        }
    }

}

.login-tittle{
    color: $skyblue_light;
}
.login-form{
    .login-label{
        color: $supersoftblue;
    }
    .btn-primary{
        background-color: $soft-orange;
        color: $black;
        border: solid 1px white;
    }
}
.login-links{
    p a{
        color: $soft-orange;
    }
}

.signUpTittle{
    color: $skyblue_light;
}
.sign_up_form{
    border: $supersoftblue;
    .SignLabel{ 
        color: $soft-orange;
    }
   
}
.form-check{
    color: $skyblue_light;
}
.registerButton{
    background-color: $soft-orange;
    border: solid 1px white;
    color: $black;
}

/*Recovery Email*/

.recovery-form{

    .recovery-label{
        color: $light-green;
    }
}

.recovery-btn{
    background-color: $soft-orange;
    color: $black;
    border: solid 2px $supersoftblue;
    transition: 200ms ease;
    &:hover{
        background-color: $skyblue_light;
    }

}