$primary:#77D1BC;
$primary-light:#EEF9F7;
$primary-shadow:#1E342F;
$complementary:#D1778C;
$complementary-shadow:#341E23;
$complementary-light:#F4DDE2;
$black:#000000;
$light-green:#C3E879;
$soft-orange:#DEB673;
