@import "_colors.scss";
@import "_fonts.scss";

.body-login{
    background:url(/Images/login-background-2-edit.jpeg);
    background-repeat: no-repeat;
    background-size: 100;
    background-position: 3px;
}

.container{
    margin: 3em auto 3em auto;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding: 0.5em;

    .login-tittle{
        padding: 0.5em 0.5em;
        font-size: 4em;
        font-family: $title;
        text-align: center;
        font-weight: 900;
        text-shadow: -1px 0 $primary-light, 0 1px $primary-light, 1px 0 $primary-light, 0 -1px $primary-light;

    }

    .login-form{
        font-family: $paragraph;
        color: $primary-light;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-label{
            font-size: 1.3em;
        }
        .form-text{
            color: $primary-light;
        }
        .login-input{
            border: none;
            border-radius: 40px;
            padding: 0.4em;

            &:hover,:focus{
                box-shadow: 2px 3px 2px $complementary-light, -2px 3px 2px $complementary-light;
            }
        }
        .btn-login{
            margin-bottom: 4em;
            padding: 0.7em 3em 0.7em 3em;
            background-color: $primary;
            border-radius: 30px;
            font-weight: bolder;
        }

    }
    .login-links{
        font-family: $paragraph;
        a{
            text-decoration: underline;
            color: $complementary-light;
            font-size: 1.2em;
            padding: 0.4em;
            margin: 0.5em;
            transition: 0.5s;
            
        }
    }
}