@import "_colors.scss";
@import "_fonts.scss";

.navbar{
    background-color: $black;
    z-index: 999;
    .navbar-brand{
        margin: 1em 3em 1em 1em;
    }
    .nav-link1{
        font-size: 1.1em;
        font-family: $paragraph;
        color: $primary;
        text-decoration: none;
        margin-right: 1em;
        font-weight: 400;
    }
    .index_dropdown{
        background: $primary-light;
        padding: 0.5em;
        border-radius: 20px;

        .dropdown-divider{
            color: $complementary-shadow;
            font-weight: bolder;
        }

        .index_btn{
            padding: 0.7em 3em 0.7em 3em;
            background-color: $primary;
            border-radius: 30px;
            font-weight: bolder;
        
        }
    }

}