@import "_colors.scss";

body{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    background-color: $complementary-shadow;
    z-index: 999;
    .navbar-brand{
        margin: 1em 3em 1em 1em;
    }
    .nav-link1{
        font-size: 1em;
        color: $skyblue_light + 20;
        text-decoration: none;
        margin-right: 1em;
        font-weight: 400;
        letter-spacing: 3px;
    }
    .index_dropdown{
        background: $primary;
        padding: 0.5em;
        border-radius: 20px;

        .dropdown-divider{
            color: $complementary-shadow;
            font-weight: bolder;
        }

        .index_btn{
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            background-color: $light-green;
            border-radius: 40px;
        
        }
    }

}