@import "_colors.scss";


.container-recovery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5em 0.5em 10em 0.5em;
    .recovery-img{
        margin: 1em 0.5em 1em 0.5em;
        border: 2px solid black;
    }

    .recovery-btn{
        margin: 2em 0 0 0;
        background-color: $soft-orange +20;
        width: 8em;

        border: 1px solid $black;
        &:hover{
            box-shadow: 2px 2px 5px $skyblue_light, 2px 2px $skyblue_light;
        }
    }
}